body{
    background: #9bbca4;

    margin-left: 25px;
}
a,li{
    margin-left: 20px;
    font-family: 'Nunito Sans',sans-serif;
    color: #6c757d;
}
h1{
    margin-left: 20px;
    font-family: 'Nunito Sans',sans-serif;
    color: #000000;
}
h2{
    margin-left: 20px;
    font-family: 'Nunito Sans',sans-serif;
    color: #0f7c59;
}
p{
    margin-left: 20px;
    font-family: 'Nunito Sans',sans-serif;
}
b{
    color: #00828a;
}
span.imdb-link{
    color: crimson;
}

ul{
    list-style-type: circle;
    line-height: 180%;
}
ol{
    line-height: 180%;
}
.mood-pic{
 float: left;
}

